<!DOCTYPE html>
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">
<dom-module id="my-carlos-micomponente">
  <template>
    <style>
      :host {
        display:inline-block;
        background-color: cyan;
      }
    </style>
    <div><span>Mi primer componente Polymer</span></div>
    <div><span>[[saludo]]</span></div>
    <div><span>contador = [[contador]]</span></div>
    <!-- Se repite el contenido del template tantas veces como elementos tenga "listado" -->
    <template is="dom-repeat" items="[[listado]]">
      <div>
        <h3>{{item.titulo}}</h3>
        <h4>{{item.texto}}</h4>
      </div>
    </template>
  </template>
  <script>
    <!-- tap es el evento onclick para móviles -->
    Polymer({
      is: 'my-carlos-micomponente',
      properties: {
        saludo: String,
        contador: Number,
        listado: {
          type: Array,
          notify: true,
          value: [
            {"titulo":"title 1", "texto":"text 1"},
            {"titulo":"title 2", "texto":"text 2"},
            {"titulo":"title 3", "texto":"text 3"}
          ]
        }
      },
      listeners: {
        'tap': 'incrementar'
      },
      incrementar: function() {
        this.contador += 1;
        this.listado.push(this.contador);
      }
    })
  </script></dom-module>
