<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view3">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      #geomap {
        width:20%;
        height:200px;
        margin:10px;
        border: 1px solid #999;
        visibility: hidden;
      }
    </style>

    <div class="card">
      <div class="circle">3</div>
      <h1>Google Maps (No funciona!)</h1>
      <p>Prueba de uso de la API de Google Maps</p>
    </div>

    <input type="button" value="Show map" on-click="showMap"/>
    <div id="geomap" name="geomap"></div>
    <script>
      function initMap() {
        // Forma 1
        //var mapProp= { center:new google.maps.LatLng(40.4437641,-3.593064), zoom:17 };
        //var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);

        // Forma 2 (con marcador)
        var point = {lat: 40.4437641, lng: -3.593064};
        var mapProp = {center: point, zoom: 17};
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        var marker = new google.maps.Marker({ position: point, map: map });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb6MeVEgPe_0Hf3uxty5NFIw37t_z-Q1o&callback=initMap"></script>

  </template>

  <script>


    //Utilizo la otra notación para definir el componente Polymer
    Polymer({
      is: 'my-view3',
      properties: {
        apiKey: {
          type: String,
          value: "AIzaSyBb6MeVEgPe_0Hf3uxty5NFIw37t_z-Q1o"
        }
      },
      showMap: function() {
        if (document.getElementsByName('geomap')[0].style.visibility == 'visible')
          document.getElementsByName('geomap')[0].style.visibility = 'hidden';
        else
          document.getElementsByName('geomap')[0].style.visibility = 'visible';
      }
    })

  </script>

</dom-module>
